# デフォルトの無視対象ファイル
/.idea/shelf/
/.idea/workspace.xml


/.idea/
/modules/
Student.Management.main.iml
/shelf/
compiler.xml
gradle.xml
jarRepositories.xml
misc.xml
modules.xml
StudentManagement.iml
uiDesigner.xml
vcs.xml
workspace.xml
/.gradle/
8.8
buildOutputCleanup
vcs-1
file-system.probe
/.build/
classes
generated
resources
tmp